*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: monospace;
  font-weight: 500;
  color: #000000;
}

.wrapper {
  max-width: 100vw;
  min-height: 100vh;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 800px;
  width: 100%;
}

#heading {
  text-align: center;
}

.content {
  margin-top: 25px;
  width: 100%;
  padding: 15px;
  display: flex;
  gap: 25px
}

.eye_left {
  width: 50%;
  background-color: #FFF;
  height: 200px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 90%;
  border-top-right-radius: 100%;
  border-top: 15px solid black;
  border-right: 5px solid black;
  border-left: 8px solid black;
  border-bottom: 2px solid black;
  overflow: hidden;
  position: relative;
}

.eye_left::before{
  position: absolute;
  top: -16px;
  left: -3px;
  content: '';
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 90%;
  border-top-right-radius: 100%;
  border-top: 15px solid black;
  border-left: 5px solid black;
  border-bottom: 2px solid #000000;
  animation: blink 5s forwards;
}

.eye_right {
  width: 50%;
  background-color: #FFF;
  height: 200px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 90%;
  border-top-left-radius: 100%;
  border-top: 15px solid black;
  border-left: 5px solid black;
  border-right: 8px solid black;
  border-bottom: 2px solid black;
  position: relative;
  overflow: hidden;
}

.eye_right::before{
  position: absolute;
  top: -16px;
  left: -3px;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #FFF;
  z-index: 5;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 90%;
  border-top-left-radius: 100%;
  border-top: 15px solid black;
  border-right: 5px solid black;
  border-bottom: 2px solid black;
  animation: blink 5s forwards;
}

.sharingan {
  position: absolute;
  top: 35px;
  left: 115px;
  width: 120px;
  height: 120px;
  background-color: #9f1817;
  border-radius: 100%;
  border: 5px solid black;
  display: grid;
  place-items: center;
  animation: mymove 3s 1 1s;
  overflow: hidden;
  transform: rotate(60deg);
}

.sharingan__inside {
  position: absolute;
  width: 70px;
  height: 70px;
  border: 2px solid black;
  border-radius: 100%;
  z-index: 3;
  background-color: #9f1817;
}

.sharingan__inside2{
  position: absolute;
  width: 70px;
  height: 70px;
}

.pupil {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #9f1817;
  z-index: 4;
  border-radius: 100%;
}

.triangle1{
  position: relative;
  top: 3px;
  left: -30px;
  width: 62px;
  height: 28px;
  background-color: black;
  clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
  transform: rotate(28deg);
  z-index: 2;
}

.triangle2{
  position: relative;
  top: -25px;
  right: -30px;
  width: 62px;
  height: 28px;
  background-color: black;
  clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
  transform: rotate(150deg);
  z-index: 2;
}

.triangle3{
  position: relative;
  bottom: 4px;
  right: -3px;
  width: 62px;
  height: 28px;
  background-color: black;
  clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
  transform: rotate(268deg);
  z-index: 2;
}

.shape1 {
  position: absolute;
  top: -10px;
  left: -15px;
  height: 44px;
  width: 85px;
  transform: rotate(19deg);
  border-radius: 89% 77% 0 68%;
  background-color: #000000;
}

.shape2 {
  position: absolute;
  top: 32px;
  right: 12px;
  height: 44px;
  width: 85px;
  transform: rotate(261deg);
  border-radius: 89% 77% 0 68%;
  background-color: #000000;
}

.shape3 {
  position: absolute;
  top: 20px;
  left: 17px;
  height: 44px;
  width: 85px;
  transform: rotate(143deg);
  border-radius: 89% 77% 0 68%;
  background-color: #000000;
}

@keyframes mymove {
  to{transform: rotate(1800deg);}
}

@keyframes blink {
  100%{
    transform: translate(0px, -180px);
  }
}
